<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Authlib Connect</title>
    </head>
    <body>
        <p>Welcome {{name}}!</p>
        <p>Input places and their respective rating into the query below</p>
        <form action= "receive">
            <input type = "text" id = 'address' placeholder="address">
            <input type = "text" id = 'rating' placeholder="rating">
            <input type = "text" id = 'state' placeholder="state">
            <input type = "number" id = 'rating' min = '1' max = '5' placeholder = 'rating'>
            <button type="submit" value="submit">Submit</button>
        </form>
        <a href="/logout">Click here to Logout!</a>
    </body>
</html>