<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Authlib Connect</title>
    </head>
    <body>
        <p>Welcome {{name}}!</p>
        <p>Input your respective data to generate a recommended area to go to.</p>
        <form action= "/generateRec" method = "post">
            <input type = "text" id = 'latitude' name = 'latitude' placeholder="latitude">
            <input type = "text" id = 'longitude' name = 'longitude' placeholder="longtitude">
            <input type = "text" id = 'searchRadius' name = 'searchRadius' placeholder="searchRadius">
            <input type = "text" id = 'types' name = 'types' placeholder="types of places to go to">
            <select name = 'categories' id = 'categories' placeholder = 'categories(content)'>
                <option value = 'Sandwiches'>Sandwiches</option>
                <option value = 'Restaurants'>Restaurants</option>
                <option value = 'Shopping'>Shopping</option>
                <option value = 'Fashion'>Fashion</option>
            </select>
            <input type = "text" id = 'numSug' name = 'numSug' placeholder="number of suggestions">
            <input type = "text" id = 'city' name = 'city' placeholder="city">
            <input type = "text" id = 'state' name = 'state' placeholder="state">
            <button type="submit" value="submit">Submit</button>
        </form>
        <p>Input places and their respective rating into the query below</p>
        <form action= "/receiveAdd" method = "post">
            <input type = "text" id = 'address' name = 'address' placeholder="address">
            <input type = "text" id = 'city' name = 'city' placeholder="city">
            <input type = "text" id = 'state' name = 'state' placeholder="state">
            <input type = "number" id = 'rating' name = 'rating' min = '1' max = '5' placeholder = 'rating'>
            <button type="submit" value="submit">Submit</button>
        </form>
        <p>Input your city and state to view all of the reviews you have added to the website.</p>
        <form action = /allReviews method = "post">
            <input type = "text" id = 'city' name = 'city' placeholder = 'city'>
            <input type = 'text' id = 'state' name = 'state' placeholder= 'state'>
            <button type = "submit" value = "submit">Submit</button>
        </form>
        <a href="/logout">Click here to Logout!</a>
    </body>
</html>