<!DOCTYPE html>
<html>
    <head>
        <title>Your listed reviews.</title>
    </head>
    <body>
        <div class="flashes">
            {% for message in get_flashed_messages() %}
              {{ message }}
            {% endfor %}
        </div>
        <p>The below form can be used to delete a review.</p>
        <form action = "delReview" method = 'post'>
            <input type = "text" id = 'name' name = 'name' placeholder="name">
            <input type = "text" id = "address" name = "address" placeholder="address">
            <input type = "text" id = 'city' name = 'city' placeholder="city">
            <input type = "text" id = 'state' name = 'state' placeholder="state">
            <input type = "number" id = 'rating' name = 'rating' min = '1' max = '5' placeholder = 'rating'>
            <button type="submit" value="submit">Submit</button>
        </form>
        <a href = "/home">Go back!</a>
    </body>
</html>
